https://docs.mosek.com/modeling-cookbook/mio.html#maximum

# b = A > B
A <= B + BIG * b
A >= B + eps - BIG * (1 - b)
# b = 3 > 7
3 <= 7 + 100 * 0
3 >= 7 + eps - 100 * (1 - 0)
# b = 3 > 3
3 <= 3 + 100 * 0
3 >= 3 + eps - 100 * (1 - 0)

# b = A >= B
A <= B + BIG * b
A >= B - BIG * (1 - b)
# b = 3 >= 7
3 <= 7 + 100 * 0
3 >= 7 - 100 * (1 - 0)
# b = 3 >= 3
3 <= 3 + 100 * 0
3 >= 3 - 100 * (1 - 0)
3 <= 3 + 100 * 1
3 >= 3 - 100 * (1 - 1)

# Z = min(A, B)
Z <= A
Z <= B
Z >= A - BIG * (1 - b)
Z >= B - BIG * b
b = B >= A
# Z = min(3, 7)
Z <= 3
Z <= 7
Z >= 3 - 100 * (1 - 1)
Z >= 7 - 100 * 1
b = 1 = 7 >= 3
# Z = min(3, 3)
Z <= 3
Z <= 3
Z >= 3 - 100 * (1 - 1)
Z >= 3 - 100 * 1
b = 1 = 3 >= 3

# Z = A->B
not(A) \/ B
